@charset "utf-8";

.skeleton {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
}

.skeleton .image {
  aspect-ratio: 16 / 9;
}

.skeleton .title {
  width: 60%;
  height: 1.8rem;
}

.skeleton .description {
  width: 100%;
  height: 2.2rem;
  margin-top: 0.5rem;
}

.skeleton .image,
.skeleton .title,
.skeleton .description {
  position: relative;
  overflow: hidden;
  background-color: #e3e3e3;
}

.skeleton .image::before,
.skeleton .title::before,
.skeleton .description::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    transparent 0%,
    #f0f0f0 50%,
    transparent 100%
  );
  animation: skeleton 1s infinite;
}

@keyframes skeleton {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
