@charset "utf-8";

@layer base {
  .icn {
    display: block;
    width: 1.4em;
    height: 1.4em;
    background-size: cover;
    background-position: 0 0;
  }

  .icn_mail {
    background-image: url('./mail.svg');
  }

  .icn_eye {
    background-image: url('./openedeye.svg');
  }

  .icn_eye_close {
    background-image: url('./closedeye.svg');
  }
}